@model Jogador

@{
    ViewData["Title"] = "Jogador";
}

<link rel="stylesheet" href="~/css/jogadores.css">

@if (ViewBag.UserName == null)
{
    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}


else{
    <main>

        <section class="container-grid cadastro-equipes">


            <form class="frm-cad-equipe" method="post" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Jogadores</h1>
                    <hr>
                </div>

                
                

                <select class="campo-entrada" id="equipe-select" name="IdEquipe" required>
                    <option value="">Selecione uma Equipe:</option>
                    @foreach (Equipe e in ViewBag.Equipe)
            {
                <option value="@e.IdEquipe">@e.Nome</option>
            }
                </select>

                <input class="campo-entrada" type="text" id="nome-jogador" placeholder="Digite o nome do Jogador:" name="Nome" required>
                <input class="campo-entrada" type="email" id="email-jogador" placeholder="Digite o Email do Jogador:" name="Email" required>
                <input class="campo-entrada" type="password" id="senha" placeholder="Digite a Senha:" name="Senha" required>
                <button>Cadastrar</button>




            </form>

            <!-- TABELA CADASTRO DE EQUIPES -->

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>&spades;</th>
                    </tr>
                </thead>

                <tbody>

            @foreach (Jogador jogador in ViewBag.Jogador)
            {
                <tr>
                    <td>@jogador.IdJogador</td>
                    <td>@jogador.Nome</td>
                    <td>@jogador.Email</td>
                    <td>

                        <img src="/img/Equipes/@jogador.Equipe.Imagem" alt="Imagem da equipe @jogador.Equipe.Nome" width="50px">
                    </td>
                    <td>
                        <a asp-area="Atalho para excluir jogador." asp-controller="Jogador" asp-action="Excluir"
                            asp-route-id="@jogador.IdJogador">
                            <img class="yellow-trash" src="~/assets/trash.png" alt="">
                            </a>
                    </td>
                    <td>
                        <a asp-area="Atalho para editar informações do jogador." asp-controller="Jogador" asp-action="Editar"
                            asp-route-id="@jogador.IdJogador">Editar</a>
                    </td>
                </tr>
            }

        </tbody>
            </table>
        </section>
    </main>

}